<!--footer-->
<footer >
  <div class="container-fluid border-top">


  <i class="social-icon fab fa-facebook"></i>
  <i class="social-icon fab fa-twitter"></i>
  <i class="social-icon fab fa-instagram"></i>
  <i class="social-icon fas fa-envelope"></i>
  <p>  Made with ❤️ by Ankit</p>
</div>
</footer>
</body>
</html>
