<%- include("partials/header") -%>
    <!--Enter code here-->
  <h2>My Notes</h2>
  <br>
    <h3>Local Notes</h3>
                <ul id="notes">
                    <li>
                        <p class="no-notes">You don't have any notes.</p>
                    </li>
                </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
<%- include("partials/footer")-%>
