<%- include("partials/header") -%>


  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3 ">
      <div class="container-fluid py-5" >

        <form>
          <textarea id="note-textarea" class="form-control center" rows="8"></textarea>
          <br><br>
          <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p>
          <div class="buttonCenter">
          <button id="start-record-btn" class="btn btn-outline-success btn-lg btn-space" type="button"><img src="start.png" height="35" width="35"></button>
          <button id="pause-record-btn" class="btn btn-outline-danger btn-lg btn-space" type="button"><img src="pause.png" height="35" width="35"></button>

          <button class="btn btn-outline-warning btn-lg btn-space" type="button" ><img src="pdf.png" height="35" width="35"></button>

          <button id="save-note-btn" class="btn btn-outline-primary btn-lg" type="button" ><img src="floppy-disk.png" height="35" width="35"></button>

        </form>


      </div>
      </div>
    </div>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/script.js"></script>
<%- include("partials/footer")-%>
